<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio</title>
    <link rel="stylesheet" href="main.css">

    <script src="./node_modules/angular/angular.js"></script>
    <script src="/node_modules/@angular/router/angular1/angular_1_router.js"></script>
    <script src="/app.js"></script>
    <script src="/CerrarSesion.js"></script>
    <script src="/Sesiones.js></script>

<!-- IE required polyfills, in this exact order -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.33.3/es6-shim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.20/system-polyfills.js"></script>
<script src="https://unpkg.com/angular2/es6/dev/src/testing/shims_for_IE.js"></script>
</head>
<body ng-controller="controlador as lista">
    <div id="menu">
        <ul>
            <li>Bienvenido nuevamente {{lista.nombre}} </li>|
            <li class=""><a href="#!./EditarUsuario.html">Editar Usuario  </a></li>|
            <li class=""><form action="#!./CrearUsuario.html" method="POST">
                         <button type="submit">Crear Usuario</button>
            </form></li>|
            <li class="cerrar-sesion"><form action="/logout?_method=DELETE" method="POST">
                         <button type="submit">Cerrar sesi&oacuten</button>
            </form></li>
        </ul>
    </div>
    <br/>
    <section>
        <h1>Actualmente, estos son los usuarios que aparecen registrados</h1>

        <table celspacing="0">
        <thead>
        <tr>
           <td>id</td>
           <td>nombre</td>
           <td>correo</td>
           <td>clave</td>
        </tr>
        </thead>
        <tr ng-repeat="usuario in lista.usuarios">
        <td>
            {{usuario.id}} 
        </td>
        <td>
            {{usuario.nombre}} 
        </td>
        <td>
            {{usuario.email}} 
        </td>
        <td>
            {{usuario.password}} 
        </td>
        <td>
            <p class="btn">
        <input type="submit" value="editar" title="click para editar" ng-click="lista.editarUsuario"></p> 
        </td>
        <td>
            <p class="btn">
        <input type="submit" value="eliminar" title="click para eliminar" ng-click="lista.eliminarUsuario"></p>  
        </td>
        </tr>

        </table>
        
    </section>
    
</body>
</html>