<!doctype html>
<html lang="en" ng-app="app">
<head>
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <title>Usuarios</title>
  <link rel="stylesheet" type="text/css" href="../main.css">
</head>
<body ng-controller="controlador as lista">
<!-- Welcome Toolbar -->
<div class="toolbar" id="menu" class="display:inline-block" role="banner">
  <span>Bienvenido nuevamente {{nombre}}</span>
    <div class="spacer"></div>
    <a aria-label="" target="_blank" rel="noopener" href="#" title="">
      <img src="" width="40" alt="Logo"/></a>
  <ul>
    <li>
    <li class="">
        <button type="submit"><a href="/EditarUsuario" routerLink="/EditarUsuario" routerLinkActive="active">
          Editar Usuario </a></button>
    </li>|
    <li class="">
        <button type="submit"><a href="/CrearUsuario" routerLink="/CrearUsuario" routerLinkActive="active">
           Crear Usuario </a></button>
    </li>|
    <li class="cerrar-sesion">
        <button type="submit" (click)="desactivado = !desactivado" > Cerrar sesi&oacuten </button>
    </li>
  </ul>
</div>
<br />
<!-- template -->
<ng-template>

</ng-template>
<!-- Listado de usuarios registrados -->
<section class="listadoUsuarios">
  <h1>Actualmente, estos son los usuarios que aparecen registrados</h1>

  <table celspacing="0">
    <thead>
      <tr>
        <td>id</td>
        <td>nombre</td>
        <td>correo</td>
        <td>clave</td>
      </tr>
    </thead>
    <hr/>
    <ul>
      <li *ngFor="let usuario of usuarios" > {{id}} </li>
    </ul>
    <tr ng-repeat="usuario in lista.usuarios">
      <td>
        {{usuario.id}}
      </td>
      <td>
        {{usuario.nombre}}
      </td>
      <td>
        {{usuario.email}}
      </td>
      <td>
        {{usuario.password}}
      </td>
      <td>
        <form action="/CrearUsuario" ng-link="/CrearUsuario" method="POST">
          <p > <button [disabled]="true" title="click para editar" (click)="lista.editarUsuario">
              editar </button></p>
        </form>
      </td>
      <td>
        <form action="/EliminarUsuario" ng-link="/EliminarUsuario" method="POST">
        <p > <button [disabled]="true" title="click para eliminar" (click)="lista.eliminarUsuario">
            eliminar </button></p>
        </form>
      </td>
    </tr>
  </table>
</section>
<!-- Contenidos Adicionales -->
<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

    <span>{{ titulo }} corriendo!</span>

  </div>
  <hr/>
  <!-- Resources -->
  <h2>Recursos</h2>
  <p>Aqui algunos link que te pueden ayudar a continuar:</p>

  <div class="card-container">
    <a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">
      <span>Learn Angular</span>

    </a>
  </div>

  <!-- Next Steps -->
  <h2>Next Steps</h2>
  <p>What do you want to do next with your app?</p>

  <input type="hidden" #selection>

  <div class="card-container">
    <div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
      <span>New Component</span>
    </div>
  </div>


  <!-- Footer -->
  <footer>
      Love Angular?&nbsp;
      <a href="#" target="_blank" rel="noopener"> Give our repo a star.
        <div class="github-star-badge">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
          Star
        </div>
      </a>
      <a href="#" target="_blank" rel="noopener">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2"/><path d="M0 0h24v24H0z" fill="none"/></svg>
      </a>
  </footer>
</div>
<router-outlet></router-outlet>
</body>
</html>
