<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro</title>
    <link rel="stylesheet" type="text/css" href="../main.css">
</head>
<!-- body -->
<body ng-controller="controlador as lista">
  {{RegisterForm.value | json}}
  <hr/>
    <!-- Formulario de Registro -->
    <form *ngIF #RegisterForm="ngForm" action="../app/app.component.html" method="POST" autocomplete="off" ng-model="lista.agregarUsuario">
        <h2>Registro</h2>
        <p>Nombre de usuario: <br>
        <input type="text" [(ngModel)]="usuario.nombre" name="nombre" id="nombre" required></p>
        <p>Correo: <br>
        <input type="email" [(ngModel)]="usuario.email" name="email" id="email" required></p>
        <p>Clave: <br>
        <input type="password" [(ngModel)]="usuario.password" name="password" id="password" required></p>
        <p>Confirmar Clave: <br>
        <input type="password" [(ngModel)]="usuario.password2" name="password2" id="password2" required></p>
        <p class="center">
        <button title="click para enviar" (ngSubmit)="onSubmit(RegisterForm)" (click)="agregarUsuario()">
          REGISTRARSE</button>
        </p>
        <hr/>
        Ya tiene una cuenta con nosotros,
        <a class="cerrar-sesion" href="AccesoSesion.html" title="acceder">Acceder</a>
    </form>
</body>
</html>
